<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft10{font-size:14px;font-family:Times;color:#000000;}
	.ft11{font-size:14px;font-family:Times;color:#000000;}
	.ft12{font-size:14px;line-height:33px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="target001.png" alt="background image"/>
<p style="position:absolute;top:83px;left:128px;white-space:nowrap" class="ft10">Договор&#160;N&#160;number&#160;</p>
<p style="position:absolute;top:104px;left:128px;white-space:nowrap" class="ft10">оказания&#160;нотариальных&#160;услуг&#160;</p>
<p style="position:absolute;top:124px;left:128px;white-space:nowrap" class="ft10">&#160;</p>
<p style="position:absolute;top:143px;left:128px;white-space:nowrap" class="ft10">г.&#160;Алматы&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#160;&#160;&#160;<i>&#34;day&#34;&#160;month</i>&#160;year&#160;г.&#160;</p>
<p style="position:absolute;top:163px;left:128px;white-space:nowrap" class="ft10">&#160;</p>
<p style="position:absolute;top:184px;left:128px;white-space:nowrap" class="ft10">&#160; &#160;&#160;Нотариус г.&#160;name&#160;,(Ф.И.О.)(лицензия&#160;&#160;N&#160;7756767&#160;выдана&#160;МФЦР&#160;&#34;01&#34;&#160;</p>
<p style="position:absolute;top:204px;left:128px;white-space:nowrap" class="ft10">май 2010&#160;г. именуем в дальнейшем &#34;Нотариус&#34;, с одной стороны,&#160;</p>
<p style="position:absolute;top:224px;left:128px;white-space:nowrap" class="ft10">и&#160;&#160;______________________________, именуемое в дальнейшем &#34;Клиент&#34;, в&#160;</p>
<p style="position:absolute;top:244px;left:128px;white-space:nowrap" class="ft10">лице (наименование)_______________________, действующ&#160;на основании&#160;на&#160;</p>
<p style="position:absolute;top:264px;left:128px;white-space:nowrap" class="ft12">основании Устава&#160;&#160;<br/>&#160;</p>
<p style="position:absolute;top:319px;left:128px;white-space:nowrap" class="ft10">1. ПРЕДМЕТ&#160;ДОГОВОРА&#160;</p>
<p style="position:absolute;top:339px;left:128px;white-space:nowrap" class="ft10">&#160;</p>
<p style="position:absolute;top:360px;left:128px;white-space:nowrap" class="ft10">1.1.&#160;По&#160;настоящему&#160;Договору&#160;Нотариус&#160;обязуется&#160;оказывать&#160;Клиенту&#160;услуги&#160;по&#160;</p>
<p style="position:absolute;top:380px;left:128px;white-space:nowrap" class="ft10">совершению&#160;нотариальных&#160;действий&#160;в&#160;соответствии&#160;с&#160;Основами&#160;законодательства&#160;</p>
<p style="position:absolute;top:401px;left:128px;white-space:nowrap" class="ft10">Российской&#160;Федерации&#160;о&#160;нотариате&#160;и&#160;иным&#160;законодательством,&#160;регулирующим&#160;порядок&#160;</p>
<p style="position:absolute;top:421px;left:128px;white-space:nowrap" class="ft10">совершения&#160;нотариусами&#160;предусмотренных&#160;законодательными&#160;актами&#160;нотариальных&#160;</p>
<p style="position:absolute;top:441px;left:128px;white-space:nowrap" class="ft10">действий&#160;от&#160;имени&#160;Российской&#160;Федерации,&#160;а&#160;Клиент&#160;обязуется&#160;оплачивать&#160;их&#160;в&#160;</p>
<p style="position:absolute;top:462px;left:128px;white-space:nowrap" class="ft10">согласованном&#160;Сторонами&#160;порядке.&#160;</p>
<p style="position:absolute;top:482px;left:128px;white-space:nowrap" class="ft10">1.2.&#160;Если&#160;иное&#160;не&#160;оговорено&#160;Сторонами,&#160;нотариальные&#160;действия&#160;по&#160;настоящему&#160;Договору&#160;</p>
<p style="position:absolute;top:503px;left:128px;white-space:nowrap" class="ft10">Нотариус&#160;совершает&#160;в&#160;своей&#160;конторе,&#160;расположенной&#160;по&#160;адресу:&#160;г.Алматы, ул.Богенбай&#160;</p>
<p style="position:absolute;top:523px;left:128px;white-space:nowrap" class="ft10">батыра&#160;86.&#160;</p>
<p style="position:absolute;top:544px;left:128px;white-space:nowrap" class="ft10">1.3.&#160;Выезды&#160;Нотариуса&#160;для&#160;совершения&#160;нотариальных&#160;действий&#160;вне&#160;нотариальной&#160;</p>
<p style="position:absolute;top:564px;left:128px;white-space:nowrap" class="ft10">конторы&#160;оплачиваются&#160;по&#160;отдельному&#160;тарифу.&#160;</p>
<p style="position:absolute;top:585px;left:128px;white-space:nowrap" class="ft10">&#160;</p>
<p style="position:absolute;top:605px;left:128px;white-space:nowrap" class="ft10">2.&#160;ПОРЯДОК&#160;ОКАЗАНИЯ&#160;УСЛУГ&#160;</p>
<p style="position:absolute;top:626px;left:128px;white-space:nowrap" class="ft10">&#160;</p>
<p style="position:absolute;top:646px;left:128px;white-space:nowrap" class="ft10">2.1.&#160;В&#160;случае&#160;необходимости&#160;нотариального&#160;удостоверения&#160;документов,&#160;</p>
<p style="position:absolute;top:667px;left:128px;white-space:nowrap" class="ft10">свидетельствования&#160;верности&#160;копий&#160;документов&#160;Клиент&#160;передает&#160;Нотариусу&#160;документы&#160;</p>
<p style="position:absolute;top:687px;left:128px;white-space:nowrap" class="ft10">для&#160;согласования:&#160;</p>
<p style="position:absolute;top:708px;left:128px;white-space:nowrap" class="ft10">-&#160;стоимости&#160;совершения&#160;Нотариусом&#160;данного&#160;нотариального&#160;действия;&#160;</p>
<p style="position:absolute;top:728px;left:128px;white-space:nowrap" class="ft10">-&#160;срока&#160;совершения&#160;Нотариусом&#160;данного&#160;нотариального&#160;действия;&#160;</p>
<p style="position:absolute;top:748px;left:128px;white-space:nowrap" class="ft10">-&#160;точного&#160;времени&#160;передачи&#160;Нотариусу&#160;соответствующих&#160;документов.&#160;</p>
<p style="position:absolute;top:769px;left:128px;white-space:nowrap" class="ft10">2.2.&#160;В&#160;согласованное&#160;Сторонами&#160;время&#160;Клиент&#160;передает&#160;Нотариусу&#160;соответствующие&#160;</p>
<p style="position:absolute;top:790px;left:128px;white-space:nowrap" class="ft10">документы&#160;и&#160;Заявку&#160;по&#160;форме,&#160;приведенной&#160;в&#160;Приложении&#160;N&#160;1&#160;к&#160;настоящему&#160;Договору.&#160;</p>
<p style="position:absolute;top:810px;left:128px;white-space:nowrap" class="ft10">2.3.&#160;Нотариус&#160;в&#160;согласованный&#160;Сторонами&#160;срок&#160;совершает&#160;нотариальные&#160;действия,&#160;</p>
<p style="position:absolute;top:830px;left:128px;white-space:nowrap" class="ft10">свидетельствует&#160;верность&#160;копий&#160;переданных&#160;Клиентом&#160;документов&#160;и&#160;сообщает&#160;Клиенту&#160;</p>
<p style="position:absolute;top:851px;left:128px;white-space:nowrap" class="ft10">об&#160;их&#160;готовности.&#160;При&#160;этом&#160;Стороны&#160;согласовывают&#160;точное&#160;время&#160;возврата&#160;документов.&#160;</p>
<p style="position:absolute;top:871px;left:128px;white-space:nowrap" class="ft10">2.4.&#160;Нотариус&#160;вправе&#160;передать&#160;документы&#160;Клиента&#160;только&#160;уполномоченному&#160;сотруднику&#160;</p>
<p style="position:absolute;top:892px;left:128px;white-space:nowrap" class="ft10">Клиента.&#160;Перечень&#160;сотрудников,&#160;уполномоченных&#160;на&#160;получение&#160;документов,&#160;</p>
<p style="position:absolute;top:912px;left:128px;white-space:nowrap" class="ft10">определяется&#160;в&#160;соответствующем&#160;Списке,&#160;который&#160;предоставляется&#160;Нотариусу&#160;</p>
<p style="position:absolute;top:933px;left:128px;white-space:nowrap" class="ft10">Клиентом.&#160;Предоставление&#160;нового&#160;Списка&#160;прекращает&#160;действие&#160;ранее&#160;переданного&#160;</p>
<p style="position:absolute;top:953px;left:128px;white-space:nowrap" class="ft10">Списка.&#160;</p>
<p style="position:absolute;top:974px;left:128px;white-space:nowrap" class="ft10">2.5.&#160;При&#160;возврате&#160;Клиенту&#160;документов&#160;Нотариус&#160;передает&#160;справку,&#160;подписанную&#160;</p>
<p style="position:absolute;top:994px;left:128px;white-space:nowrap" class="ft10">Нотариусом&#160;и&#160;скрепленную&#160;его&#160;печатью&#160;по&#160;форме,&#160;приведенной&#160;в&#160;Приложении&#160;N&#160;2&#160;к&#160;</p>
<p style="position:absolute;top:1015px;left:128px;white-space:nowrap" class="ft10">настоящему&#160;Договору,&#160;в&#160;которой&#160;отражается&#160;дата&#160;составления&#160;документа,&#160;перечень,&#160;</p>
<p style="position:absolute;top:1035px;left:128px;white-space:nowrap" class="ft10">объем&#160;и&#160;точная&#160;стоимость&#160;совершенных&#160;Нотариусом&#160;действий.&#160;</p>
<p style="position:absolute;top:1056px;left:128px;white-space:nowrap" class="ft10">2.6.&#160;Если&#160;иное&#160;не&#160;оговорено&#160;Сторонами,&#160;передача&#160;документов&#160;в&#160;случаях,&#160;</p>
<p style="position:absolute;top:1076px;left:128px;white-space:nowrap" class="ft10">предусмотренных&#160;п.&#160;п.&#160;2.2&#160;и&#160;2.5&#160;настоящего&#160;Договора,&#160;осуществляется&#160;в&#160;конторе&#160;</p>
<p style="position:absolute;top:1097px;left:128px;white-space:nowrap" class="ft10">Нотариуса,&#160;указанной&#160;в&#160;п.&#160;1.2&#160;настоящего&#160;Договора.&#160;По&#160;просьбе&#160;Клиента&#160;Нотариус&#160;</p>
<p style="position:absolute;top:1117px;left:128px;white-space:nowrap" class="ft10">обеспечивает&#160;получение&#160;от&#160;Клиента&#160;и&#160;доставку&#160;ему&#160;документов&#160;с&#160;курьером.&#160;Плата&#160;за&#160;</p>
<p style="position:absolute;top:1138px;left:128px;white-space:nowrap" class="ft10">курьерскую&#160;доставку&#160;производится&#160;Клиентом.&#160;</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft20{font-size:14px;font-family:Times;color:#000000;}
	.ft21{font-size:14px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page2-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="target002.png" alt="background image"/>
<p style="position:absolute;top:83px;left:128px;white-space:nowrap" class="ft20">2.7.&#160;Порядок&#160;совершения&#160;иных&#160;нотариальных&#160;действий&#160;определяется&#160;Сторонами&#160;</p>
<p style="position:absolute;top:104px;left:128px;white-space:nowrap" class="ft20">дополнительно.&#160;</p>
<p style="position:absolute;top:124px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:145px;left:128px;white-space:nowrap" class="ft20">3. ПОРЯДОК&#160;ВЗАИМОРАСЧЕТОВ&#160;</p>
<p style="position:absolute;top:165px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:186px;left:128px;white-space:nowrap" class="ft20">3.1.&#160;Размер&#160;нотариального&#160;тарифа&#160;за&#160;совершаемые&#160;Нотариусом&#160;действия&#160;определяется&#160;</p>
<p style="position:absolute;top:206px;left:128px;white-space:nowrap" class="ft20">Нотариусом&#160;в&#160;соответствии&#160;с&#160;действующим&#160;законодательством&#160;Российской&#160;Федерации.&#160;</p>
<p style="position:absolute;top:227px;left:128px;white-space:nowrap" class="ft20">3.2.&#160;Оплата&#160;услуг&#160;Нотариуса&#160;осуществляется&#160;в&#160;безналичном&#160;порядке&#160;(авансовые&#160;платежи&#160;</p>
<p style="position:absolute;top:247px;left:128px;white-space:nowrap" class="ft20">на&#160;расчетный&#160;счет&#160;нотариуса).&#160;Нотариус&#160;приступает&#160;к&#160;выполнению&#160;работ&#160;по&#160;настоящему&#160;</p>
<p style="position:absolute;top:268px;left:128px;white-space:nowrap" class="ft20">Договору&#160;только&#160;после&#160;получения&#160;предоплаты&#160;от&#160;Клиента.&#160;</p>
<p style="position:absolute;top:288px;left:128px;white-space:nowrap" class="ft20">3.3.&#160;По&#160;окончании&#160;календарного&#160;месяца&#160;(не&#160;позднее&#160;___&#160;числа&#160;следующего&#160;за&#160;расчетным&#160;</p>
<p style="position:absolute;top:309px;left:128px;white-space:nowrap" class="ft20">месяца)&#160;Стороны&#160;производят&#160;сверку&#160;заказов&#160;и&#160;составляют&#160;Акт&#160;оказанных&#160;услуг&#160;</p>
<p style="position:absolute;top:329px;left:128px;white-space:nowrap" class="ft20">(Приложение&#160;N&#160;3).&#160;</p>
<p style="position:absolute;top:350px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:370px;left:128px;white-space:nowrap" class="ft20">4. СРОК&#160;ДЕЙСТВИЯ&#160;ДОГОВОРА&#160;</p>
<p style="position:absolute;top:391px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:411px;left:128px;white-space:nowrap" class="ft20">4.1.&#160;Настоящий&#160;Договор&#160;заключен&#160;на&#160;срок&#160;до&#160;<i>&#34;day2&#34;&#160;month2</i>&#160;year2&#160;г.&#160;</p>
<p style="position:absolute;top:433px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:453px;left:128px;white-space:nowrap" class="ft20">5. ПРОЧИЕ&#160;УСЛОВИЯ&#160;</p>
<p style="position:absolute;top:474px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:494px;left:128px;white-space:nowrap" class="ft20">5.1.&#160;Сторона,&#160;получившая&#160;уведомление&#160;о&#160;расторжении&#160;настоящего&#160;Договора,&#160;должна&#160;в&#160;</p>
<p style="position:absolute;top:515px;left:128px;white-space:nowrap" class="ft20">течение&#160;___&#160;рабочих&#160;дней&#160;приступить&#160;к&#160;сверке&#160;взаиморасчетов&#160;со&#160;Стороной&#160;-&#160;</p>
<p style="position:absolute;top:536px;left:128px;white-space:nowrap" class="ft20">инициатором&#160;расторжения.&#160;Взаиморасчет&#160;должен&#160;быть&#160;произведен&#160;в&#160;течение&#160;___&#160;</p>
<p style="position:absolute;top:556px;left:128px;white-space:nowrap" class="ft20">банковских&#160;дней&#160;от&#160;даты&#160;завершения&#160;сверки.&#160;С&#160;момента&#160;проведения&#160;полного&#160;</p>
<p style="position:absolute;top:576px;left:128px;white-space:nowrap" class="ft20">взаиморасчета&#160;по&#160;результатам&#160;сверки&#160;настоящий&#160;Договор&#160;считается&#160;прекратившим&#160;свое&#160;</p>
<p style="position:absolute;top:597px;left:128px;white-space:nowrap" class="ft20">действие.&#160;</p>
<p style="position:absolute;top:617px;left:128px;white-space:nowrap" class="ft20">5.3.&#160;По&#160;всем&#160;вопросам,&#160;не&#160;нашедшим&#160;отражения&#160;в&#160;настоящем&#160;Договоре,&#160;Стороны&#160;</p>
<p style="position:absolute;top:638px;left:128px;white-space:nowrap" class="ft20">руководствуются&#160;действующим&#160;законодательством&#160;Российской&#160;Федерации.&#160;</p>
<p style="position:absolute;top:658px;left:128px;white-space:nowrap" class="ft20">5.4.&#160;Настоящий&#160;Договор&#160;составлен&#160;в&#160;двух&#160;экземплярах,&#160;имеющих&#160;равную&#160;юридическую&#160;</p>
<p style="position:absolute;top:679px;left:128px;white-space:nowrap" class="ft20">силу,&#160;по&#160;одному&#160;для&#160;каждой&#160;из&#160;Сторон.&#160;</p>
<p style="position:absolute;top:699px;left:128px;white-space:nowrap" class="ft20">5.5.&#160;Настоящий&#160;Договор&#160;вступает&#160;в&#160;силу&#160;с&#160;даты&#160;его&#160;подписания&#160;Сторонами.&#160;</p>
<p style="position:absolute;top:720px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:740px;left:128px;white-space:nowrap" class="ft20">6.&#160;ПРИЛОЖЕНИЕ&#160;</p>
<p style="position:absolute;top:761px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:781px;left:128px;white-space:nowrap" class="ft20">6.1.&#160;Заявка&#160;(Приложение&#160;N&#160;1).&#160;</p>
<p style="position:absolute;top:802px;left:128px;white-space:nowrap" class="ft20">6.2.&#160;Справка&#160;(Приложение&#160;N&#160;2).&#160;</p>
<p style="position:absolute;top:822px;left:128px;white-space:nowrap" class="ft20">6.3.&#160;Акт&#160;оказанных&#160;услуг&#160;(Приложение&#160;N&#160;3).&#160;</p>
<p style="position:absolute;top:843px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:863px;left:128px;white-space:nowrap" class="ft20">7.&#160;АДРЕСА&#160;И&#160;ПЛАТЕЖНЫЕ&#160;РЕКВИЗИТЫ&#160;СТОРОН&#160;</p>
<p style="position:absolute;top:883px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:902px;left:128px;white-space:nowrap" class="ft20">Нотариус:&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#160;&#160;&#160;Клиент:&#160;</p>
<p style="position:absolute;top:923px;left:128px;white-space:nowrap" class="ft20">Trust&#160;Notarius&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;&#160;&#160;&#160;_____________________________&#160;</p>
<p style="position:absolute;top:943px;left:128px;white-space:nowrap" class="ft20">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;(Ф.И.О.)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;(наименование юридического&#160;</p>
<p style="position:absolute;top:963px;left:128px;white-space:nowrap" class="ft20">лица)&#160;</p>
<p style="position:absolute;top:983px;left:128px;white-space:nowrap" class="ft20">Лицензия от &#34;23&#34;&#160;06&#160;1998&#160;&#160;г. N257183&#160;&#160;&#160;Юридический/почтовый адрес:&#160;&#160;</p>
<p style="position:absolute;top:1003px;left:128px;white-space:nowrap" class="ft20">выдана&#160;</p>
<p style="position:absolute;top:1023px;left:128px;white-space:nowrap" class="ft20">_______________________________&#160;&#160;&#160;__________________________________&#160;</p>
<p style="position:absolute;top:1044px;left:128px;white-space:nowrap" class="ft20">Адрес: _______________________________&#160;&#160;&#160;ИНН/КПП&#160;&#160;</p>
<p style="position:absolute;top:1064px;left:128px;white-space:nowrap" class="ft20">Паспортные данные: ___________________&#160;&#160;&#160;Телефон: ____________&#160;</p>
<p style="position:absolute;top:1084px;left:128px;white-space:nowrap" class="ft20">_______________________________&#160;&#160;Адрес электронной почты:&#160;email&#160;</p>
<p style="position:absolute;top:1104px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
<p style="position:absolute;top:1124px;left:128px;white-space:nowrap" class="ft20">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;ПОДПИСИ СТОРОН:&#160;</p>
<p style="position:absolute;top:1144px;left:128px;white-space:nowrap" class="ft20">&#160;</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft30{font-size:14px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page3-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="target003.png" alt="background image"/>
<p style="position:absolute;top:82px;left:128px;white-space:nowrap" class="ft30">Нотариус:&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#160;&#160;&#160;Клиент:&#160;</p>
<p style="position:absolute;top:102px;left:128px;white-space:nowrap" class="ft30">_______________/ ____________________&#160; &#160;&#160;_______________/&#160;</p>
<p style="position:absolute;top:122px;left:128px;white-space:nowrap" class="ft30">_________________&#160;</p>
<p style="position:absolute;top:142px;left:128px;white-space:nowrap" class="ft30">&#160; &#160;&#160;(Ф.И.О.)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;(подпись)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#160;&#160;&#160;(Ф.И.О.)&#160;&#160;&#160;&#160; &#160;&#160;(подпись)&#160;</p>
<p style="position:absolute;top:163px;left:128px;white-space:nowrap" class="ft30">&#160;</p>
<p style="position:absolute;top:183px;left:128px;white-space:nowrap" class="ft30">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;(М.П.)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; &#160;&#160;&#160;(М.П.)&#160;</p>
</div>
</body>
</html>
