{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4" style="padding-right: 10px;">
          <div class="col-lg-6 col-7">
{#            <h6 class="h2 text-white d-inline-block mb-0">Сотрудники</h6>#}
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Жұмыс</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'add_operation' %}" class="btn btn-lg btn-sm btn-danger">Қосу</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
      <!-- Dark table -->
    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            {% for message in messages %}

            <h4 class="text-white mb-0" style="background-color: #0b90a8">{{ message }}</h4>            {% endfor %}
            <h3 class="text-white mb-0">Жұмыс тізімі</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Проверка</th>
                  <th scope="col" class="sort" data-sort="name">Клиент</th>
                  <th scope="col" class="sort" data-sort="budget">Құжаттар</th>
                  <th scope="col" class="sort" data-sort="status">Файл атауы</th>
                  <th scope="col">Тип файла</th>
                  <th scope="col" class="sort" data-sort="completion">Файл өлшемі</th>
                  <th scope="col">Файлдың Hash-і</th>
                </tr>
              </thead>
              <tbody class="list">
              {% for l in list %}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                        <form action="{% url 'proof' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="file" style="width: 90px" required>
                            <input type="hidden" name="pk" value="{{ l.pk }}">
                            <input type="submit" class="btn btn-white mr-3" value="Проверить">
                        </form>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{ l.client.fio }}</span>
                      </div>
                    </div>
                  </th>
                    <th scope="row">
                    <div class="media align-items-center">
{#                      <a href="#" class="avatar rounded-circle mr-3">#}
{#                        <img alt="Image placeholder" src="/static/assets/img/theme/team-1.jpg">#}
{#                      </a>#}
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{ l.employees.fio }}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                      {{ l.file_name|slice:":15" }}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{ l.file_mime_type }}</span>
                    </span>
                  </td>
                  <td>
                    {{ l.file_size }}
                  </td>
                    <td>
                    {{ l.file_hash }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
         <div class="modal fade" id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body confirm-delete">
                        Жойғыңыз келетініне сенімдісіз бе?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Бас тарту
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                                id="confirmDeleteButtonModal">Жою
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script type="text/javascript">
    $(document).on('click', '.confirm-delete', function () {
        $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
    });

    $(document).on('click', '#confirmDeleteButtonModal', function () {
        var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
        window.location = $("#".concat(caller)).attr("href");
    });
</script>
{% endblock javascripts %}
